body {
  font-family: sans-serif;
}
nav {

}
ul {
  list-style: none;
  /*eliminar los styles que vienen por defecto en el ul*/
  padding: 0;
  margin: 0;
  background: #2e2e2a;
  line-height: 40px;
  overflow: auto; /*para que los elementos flotantes vuelvan a estar dentro del contenedro padre*/
}
li {
  width: 100px;
  /*display: inline-block; */
  text-align: center;
  float: left;/*aplicamos flotación a la izquiera para posicionarlos uno al costado del otro*/
}
a {
   text-decoration: none;
   color: #fff;
   display: block; /*para que ocupe todo el lugar de sus contenedor padre*/

 }
 /*no debe haber espacios entre la etiqueta y la pseudo-clase solo el ":" */
 a:hover {
   background-color: #f9a91a;
   color: #000;
 }
